<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let pokemon of pokemons">
        <ion-card class="pokemon-card">
          <img
            [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png'"
            alt="{{ pokemon.name }}"
          />
          <ion-card-header>
            <ion-card-title>
              <a [routerLink]="['/pokemon', pokemon.id]">
                {{ pokemon.name | titlecase }}
              </a>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p><strong>Altura:</strong> {{ pokemon.height }}</p>
            <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
            <p><strong>Tipos:</strong>
              <span *ngFor="let t of pokemon.types; let last = last">
                {{ t.type.name }}<span *ngIf="!last">, </span>
              </span>
            </p>
            <p><strong>Habilidades:</strong>
              <span *ngFor="let a of pokemon.abilities; let last = last">
                {{ a.ability.name }}<span *ngIf="!last">, </span>
              </span>
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
